

/*

		DEFAULT

*/


html, body {
	
	height: 100%;
	margin: 0;
	padding: 0;
	
	background-color: #1D1F21;
	border: 4px solid #3C3f41;
	color: #DDD;
	box-sizing: border-box;
	
	overflow: hidden;
}

body, h2 {
	
	font: 15px arial, sans-serif;
} 

body {
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

h2 {
	color: #ADB9BD;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	outline: none;
}


h1 {
	
	font: 22px arial, sans-serif;
} 

ul, li, p, button {
	
	margin: 0;
	padding: 0;
}

li {
	
	display: block;
}

input {
	
	width: 100%;
	background-color: #2D2E30;
	border: none;
	padding: 8px;
	box-sizing: border-box;
	color: #FFF;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}


/*

		ALL

*/

body>div.content {
	
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex: 1;
}


/*

		PANELS

*/


#chan, #name {
	
	border-radius: 20px;
	padding: 8px 16px;
	margin: 0 0 16px 0;
	opacity: 0.5;
}

.chans, .users {
	
	width: 250px;
	background-color: #3C3f41;
	padding: 10px;
	box-sizing: border-box;
	
	transition: margin 0.3s;
}

.chans { margin-left: -250px; }
.users { margin-right: -250px; }

.chans.open, .users.open {
	
	margin: 0;
}

.chans li, .users li {
	
	padding: 4px 16px;
}


/*

		LEFT

*/

.chans li:hover {
	
	cursor: pointer;
}

.chans li.selected:hover {
	
	cursor: inherit;
}

.selected {
	color: #8FDDFF;
	background-color: #2D2E30;
}

/*

		LEFT

*/

.users em {
	
	opacity: 0.5;
	font-size: 14px;
	float: right;
}


/*

		MIDDLE

*/

.chat {
	
	display: flex;
	flex-direction: column;
	flex: 1;
}

.chat h1 {
	
	padding: 12px 32px 12px;
	border-bottom: 1px solid #343434;
	background-color: #1c1c1e;
	margin: 0;
}

.chat .out {
	
	flex: 1;
	padding: 16px;
	overflow: auto;
	vertical-align: text-bottom;
}

.chat .out > p {
	
	padding: 2px 0;
}

.chat .arrows {
	
	padding: 16px 4px;
	display: flex;
	justify-content: space-between;
	margin-top: -42px;
}

.msg-name { color: #5a72a7; }
.msg-me { font-weight: bold; }
.msg-server { opacity: 0.3; }
.msg-error { color: #dc322f; }



/*

		ARROWS

*/

.left-arrow:hover, .right-arrow:hover {
	
	/*cursor: pointer;*/
}

.left-arrow, .right-arrow {
	
	position: relative;
	/*background: #111;*/
	width: 16px;
	height: 16px;
}

.right-arrow:after, .left-arrow:after {
	
	/*top: 50%;*/
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 8px;
	margin-top: -8px;
}

.right-arrow.close:after, .left-arrow.open:after {
	
	border-right-color: rgba(173, 181, 177, 0.5);
	/*left: 0%;*/
}

.left-arrow.close:after, .right-arrow.open:after {

	/*right: 0%;*/
	border-left-color: rgba(173, 181, 177, 0.5);
}